/* ------------------- */
/* Global Declarations */
/* ------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(122, 122, 122);
}

/* -------------- */
/* Header Section */
/* -------------  */
header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 15px;
}

header a {
  text-decoration: none;
}

/* ---------------------- */
/* Main section container */
/* ---------------------- */
.quiz {
  height: 100vh;
}

/* ---------- */
/* Start Menu */
/* ---------- */
.start-menu {
  text-align: center;
}

.start-menu h1,
.start-menu p {
  padding: 20px;
  font-size: 30px;
}

.start-menu p {
  margin-left: 25%;
  margin-right: 25%;
}

.start-menu button {
  color: white;
  background-color: rgb(143, 61, 153);
  padding: 15px;
  border-radius: 15px;
}

.start-menu button:hover {
  color: black;
  background-color: rgb(227, 147, 237);
}

/* ---------------- */
/* Question Section */
/* ---------------- */
.questions,
.quiz-answers {
  display: flex;
  justify-content: center;
}

.questions {
  padding-top: 10%;
  align-self: center;
}

.questions h3 {
  padding-bottom: 10vh;
  width: 30%;
  font-size: 30px;
}

.quiz-answers {
  flex-direction: column;
  width: 20%;
  margin-left: 35%;
}

.quiz-answers button {
  margin: 5px;
  padding: 15px;
  color: white;
  background-color: rgb(143, 61, 153);
  border-radius: 25px;
}

.quiz-answers button:hover {
  color: black;
  background-color: rgb(227, 147, 237);
}

/* ------------- */
/* Answer status */
/* ------------- */

.answer-status {
  text-align: center;
  font-weight: lighter;
  border-top: 1px solid rgba(37, 30, 38, 75);
  color: rgba(37, 30, 38, 75);
  font-size: 20px;
}

.highscore-form label {
  font-weight: bold;
  font-size: 20px;
}
.highscore-form h3 {
  font-size: 30px;
}
.highscore-form input {
  height: 5vh;
}

/* ------------- */
/* Hide elements */
/* ------------- */

.hidden {
  display: none !important;
}
